.ais-search-box {
    display: inline-block;
    position: relative;
    max-width: 90%;
    /* width: 145%; */
    height: 46px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 14px;
}