<!-- <ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p>Search here</p>
  
 <div >
  <div id="search-box" >

  </div>
  <div id="hits">

  </div>

 


 </div>
  

 

</ion-content> -->



<ion-app>
  <ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Search</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <ion-content padding>

    <div style="text-align: center">
    
    
  <div id="search-box" ></div>
    </div>
    <div id="hits"></div>
  </ion-content>




  <ion-footer>
    <div style="text-align: center">
      <div id="pagination">
        <!-- pagination widget will appear here -->
      </div>
     </div>
  </ion-footer>
</ion-app>
